@page "/game"
@using Sudoku.Models
@using SudokuWASM.Components

<GameOptionsModal Show="showOptionsModal" OnStart="CreateNewGameAsync"
                  OnCancel="() => ToggleOptionsModal(false)" />

<button class="m-4 px-4 py-2 rounded bg-brandBackground hover:bg-brandBackgroundHover text-foregroundOnBrand"
        @onclick="() => ToggleOptionsModal(true)">
    New Game
</button>

<!-- Status bar -->
<StatusBar IsLoading="!isInitialized"
           IsPointsAnimating="isPointsAnimating"
           DisplayScore="@DisplayScore"
           ElapsedTime="@elapsedTime"
           HintCount="@hintCount"
           WrongGuessCount="@wrongGuessCount"
           MaxWrongGuesses="@maxWrongGuesses"
           Message="@message" />

@if (board is null)
{
    <LoadingScreen />
}
else
{
    <SudokuGrid Board="board"
                IsGamePaused="isGamePaused"
                OnGridClick="OnGridClick"
                OnCellClick="OnCellClickTuple"
                GetCellCSS="GetCellCSS"
                GetCellTextCSS="GetCellTextCSS"
                NotesTextClass="@GetNotesTextCSS(false)"
                IsMobile="false"
                OnResumeGame="ResumeGame" />
    <GameControls OnNewGame="() => ToggleOptionsModal(true)"
                  OnShowStatistics="ShowStatisticsAsync"
                  OnUndo="Undo"
                  OnErase="Erase"
                  OnTogglePencilMode="TogglePencilMode"
                  OnGiveHint="GiveHint"
                  IsGameDisabled="(isGamePaused || isGameOver || isGameWon)"
                  CanUndo="(selectedCell != null && board != null && board.CanEditCell(selectedCell.Value.row, selectedCell.Value.col))"
                  CanErase="(selectedCell != null && board != null && board.CanEditCell(selectedCell.Value.row, selectedCell.Value.col))"
                  CanGiveHint="(board != null && !isGamePaused)"
                  IsPencilMode="pencilMode" />
}

<StatisticsModal IsVisible="showStatistics"
                 Statistics="gameStatistics"
                 OnClose="HideStatistics"
                 OnClearStats="RequestClearStats" />

<ConfirmDialog IsVisible="showConfirmClearStats"
               Message="Are you sure you want to clear all statistics?"
               OnConfirm="ConfirmClearStats"
               OnCancel="() => showConfirmClearStats = false" />

